
.headContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border:2px solid #000000; */
    background-color: #B6C4B6;
}
ul{
    list-style: none;
    display: flex;
    gap: 1rem;
    font-weight: 600;
    cursor: pointer;
}
.left{
    display: flex;
    gap: 5px;
    cursor: pointer;
}
#getStarted{
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    box-shadow: 1px 1px 1px rgb(0,0,0);
    cursor: pointer;
    background-color: rgb(112, 130, 49);
    color: white;
    font-weight: 700;
}
#getStarted:hover{
    background-color: #304D30;
    color: white;
  }